* {margin: 0; padding:0;    }
body {
    background-color: #008;
}
div {
    /* display: flex;
    height: 100vh; */
}
#menu {
    margin: 50px 10vw;
}
ul {
    list-style-type: none;
    width: max-content;
    border: solid 3px #0bf;
    border-radius: 4px;
}
li {
    width: 200px;
    height: 50px;
    margin: 1px;
    padding: 2px 7px 7px 2px;
}
li a {
    display: block;
    border: black 2px solid;
    border-radius: 4px;
    text-decoration: none;
    width: 200px;
    height: 38px;
    padding-top: 12px;
    text-align: center;
}
li ul {
    display: none;
    margin-top: -60px;
    margin-left: 208px;
}
li:hover ul {
    display: block;
}
a {
    color: cyan;
    font-size: 18px;
    font-weight: 700;
    background-color: #00a;
}
a:not([href]) {
    cursor: default;
}
a:hover {
    background-color: #00d;
}