.info{
    margin: 100px auto 100px auto;
    width: 90vw;
}
.info_header h1{
    text-align: center;
    text-transform: capitalize;
}
.info_header hr{
    border: 2px solid rgb(214, 214, 0);
    width: 40px;
    margin: 20px auto;
}
.info_content{
    display: flex;
}
.info_elements {
    /* justify-content: center;
    align-items: center; */
}
.info_elements div{
    display: flex;
    flex-wrap: wrap;
}
.info_element{
    background-color: rgb(205, 240, 240);
    border: solid 5px rgb(205, 240, 240);
    border-radius: 10px;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
}
.info_element h3{
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
}
.info_element p{
    margin-top: 20px;
}
.info_image{
    width: 350px;
    /* height: 350px; */
    box-shadow: 30px 30px rgb(131, 131, 0) ;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}